table {
    border: 3px solid sandybrown;
    background-color: beige;
}

th {
    background-color: brown;
    text-decoration: underline;
    font-weight: bolder;
    border: 1px double white;
}

td {
    background-color: blanchedalmond;
}

td:hover {
    color: pink;
    background-color: aquamarine;
}
