/* GENERAL STYLING */

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

/* Sets the level of opacity for the fade effect at the start of the page load */
body.fade-out {
    opacity: .1;
}

/* styles all heading 1 elements */
h1 {
    text-transform: uppercase;
    font-family: 'roboto-bold-italic', sans-serif;
    text-align: center;
    color: #000;
    margin-top: 3%;
}

/* heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/* Portfolio title styling */
.white-text {
    color: #fff;
    padding-top: 10vh;
}

/* styling for all paragraph elements */
p {
    font-family: 'roboto-regular', Perpetua, Rockwell Extra Bold, sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* hover effect for paragraph elements */
p:hover {
    transition: transform 1s;
	transform: scale(1.01);
}

/* centers text */
.center {
    text-align: center;
}

/* hover effect for center class */
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* styling for all anchor elements */
a {
    color: #2201c5;
    cursor: pointer;
    text-decoration: underline;
}

/* styling for quotation elements */
q {
    font-style: italic;
}

/* styling for image elements */
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto auto auto auto;
}

/* hover effect for image elements */
img:hover {
    filter: grayscale(5%);
}

/* styling for footer element */
footer {
    padding: 2%;
    background-color: #e0e0e0;
}

/* END OF GENERAL STYLING */



/* NAVBAR CSS*/

.navbar {
    overflow: hidden;
    background-color: #173b48;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation: moves the navbar in from the left of the screen */
@keyframes moveNav {
    0% {left: -100vw;}
    100% {left: 0vw;}
}

/* navbar anchor elements */
.navbar a {
    float: left;
    display: block;
    color: #fff;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* moveNav animation: moves text in navbar from the top  */
@keyframes moveNavText {
    0% {top: -100vw;}
    100% {top: 0vw;}
}

/* hover effects for the nav bar */
.navbar a:hover {
    background-color: rgb(8, 176, 176);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* nav bar home link/button  */
.navbar a.active {
    background-color: rgb(1, 116, 116);
}

/* END NAVBAR CSS*/



/* VIDEO CSS*/

/* formatting the background video */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/* @media rule: >= 576px screen do not display the background video */
@media screen and (max-width: 576px) {
    #background-video {
        display: none;
    }
}

/* text overlay for background video */
.video-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 3.5s;
    animation: moveVideoText 3.5s;
}

/* movie animation: video-text (overlay text) moves in from bottom of page on load up */
@keyframes moveVideoText {
    0% {top: -100vw;}
    100% {top: 0vw;}
}

/* END VIDEO CSS*/



/* SLIDESHOW CSS */
/* layers a slighlty transparent white bkgd over video */
#slideshow-background {
    background: rgba(255, 255, 255, 0.35); /* This creates a slightly transparent white background that's palced over the video in the background */
}

/* slides not displayed by default */
.mySlides {
    display: none;
}

#slideshow-container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* removes underline from the anchor prev and next buttons in the slideshow */
#slideshow-container a {
    text-decoration: none;
}

/* slideshow images */
.slideshow-images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

/* Next and previous buttons */
.next, .previous {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: #807c7c;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* positioning the next btn on the right side */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* hover effect for prev and next slideshow buttons */
.previous:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

/* fading animation for slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

/* defining animation transition: begins transparent then ends opaque */
@-webkit-keyframes fade {
    0% {opacity: .4;}
    100% {opacity: 1;}
}

@keyframes fade {
    0% {opacity: .4;}
    100% {opacity: 1;}
}

/* END SLIDESHOW CSS */

/* TABLE CSS*/

/* creates a box with borders to place our text */
* {
    box-sizing: border-box;
}

/* styling the text-based columns i.e. About and Github */
.column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: honeydew;
}

/* styling columns with image/links i.e. laptop image and github logo */
.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #173b48;
}

/* Applies certain properties after the .row elements */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* END TABLE CSS */



/* CONTACT FORM CSS */
/* Contact button afixed to the bottom right hand corner that opens the contact form */
.pop-up-button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopUp 5s;
    animation: movePopUp 5s;
}

/* animation: slides in contact button from the right side to its fixed location */
@keyframes movePopUp {
    0% {right: -40vw;}
    100% {right: 1.75vw;}
}

@-webkit-keyframes movePopUp {
    0% {right: -40vw;}
    100% {right: 1.75vw;}
}

/* css for contact form */
/* form container styling */
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

/* form itself css */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

/* input fields */
.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

/* css for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* hover effect for both contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/* css for submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/* css for cancel button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* styling for close button upon hovering over */
.form-container .cancel:hover {
    color: white;
    background-color: #870404;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* END CONTACT FORM */



/* MEDIA QUERY CSS */

/* media rules that apply to paragraph font sizing for different screen sizes */
@media screen and (max-width: 527px) {
    p {font-size: 3.75vw;}
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {font-size: 3.5vw;}
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {font-size: 2.75vw;}
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {font-size: 2.5vw;}
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {font-size: 2.25vw;}
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {font-size: 2vw;}
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {font-size: 1.75vw;}
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {font-size: 1.5vw;}
}

@media screen and (min-width: 2270px) {
    p {font-size: 1.35vw;}
}

/* Media rule for navbar links for different screen sizes */
/* @media rule: screens >=1080px will display navbar links equally spaced */
@media screen and (max-width: 1080px) {
    .navbar a{
        width: 20%;
        font-size: 2.5vw;
    }
}

/* @media rule: for smaller screen; enlarge the font of the white text */
@media screen and (max-width: 1080px) {
    .quote {font-size: 3.5vw;}

    .white-text {font-size: 4.5vw;}
}

/* @media rule: columns size increase for screen >= 1725px (larger screens) */
@media screen and (min-width: 1725px) {
    .column_1 {height: 550px;}

    .column_2 {height: 550px;}
}

/* @media rule: remove margin-top from h1 elements for screens >=2000px x-large screens (so that the paragraph text fits in the column) */
@media screen and (min-width: 2000px) {
    h1 {margin-top: 0;}
}